.blogPostContent {
  max-width: 100%;
}

.blogPostExcerpt {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  color: var(--ifm-font-color-secondary);
  margin-bottom: 0.75rem;
}

.blogPostExcerpt p {
  margin-bottom: 0;
}
